@import "../../styles/variables";

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
  background-image: url("/images/loginBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100vw;
  height: 100vh;
}

.login-card {
  display: flex;
  background-color: white;
  width: 50%;
  height: 90%;
  border-radius: 3%;
  overflow: hidden;
  padding: 0px !important;
  @media (max-width: 767px) {
    width: 95%;
    height: 95%;
  }
}

.img-container {
  height: 40%;
  background-image: url("/images/LogoCompleto.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.login-form {
  height: 60%;
  justify-content: center;
  align-items: center;
}
