<div class="content-container">
  <div class="login-card container">
    <div class="row w-100">
      <div class="col-12 img-container"></div>

      <form class="login-form col-12 container">
        <div class="row w-100 p-4 pb-1">
          <input-field
            label="Usuário"
            placeholder="Digite o seu usuário"
          ></input-field>
        </div>
        <div class="row w-100 p-4 pt-0 pb-0">
          <input-field
            label="Senha"
            placeholder="Digite a sua senha"
            type="password"
          ></input-field>
        </div>
        <div class="row w-100 p-4 pt-4 pb-0">
          <app-button label="Entrar" />
        </div>
      </form>
    </div>
  </div>
</div>
