@import "../../../styles/variables";

::ng-deep .content-container {
  padding: 0px !important;
}

.footer-container {
  display: flex;
  height: 100%;
  gap: 15px;
  padding: 2rem;
  border-top: 1px solid;
  border-color: $border-color-dark;
  max-width: unset !important;
  
  @media (max-width: 1150px) {
    justify-content: center;
  }
  @media (min-width: 1151px) {
    justify-content: flex-end;
  }
}
