<div class="container">
    <card class="col-4 teste">
      <app-button
      label="Meus Dados"
      type="basic"
      class="nav-button"
      tooltip="Meus Dados">
    </app-button>

    <app-button
      label="Grupos"
      type="basic"
      class="nav-button"
      tooltip="Grupos">

    </app-button>

    </card>

    <div class="col-8 teste1">
      <card class="row teste2">
      Meus Dados
      </card>

      <card class="row data-profile">
        <div class="col-2 profile-image"><img src="images/homem (1).png" class="profile"/></div>
        <div class="col-8 profile-info">
          <p class="name">{{userData?.name}}</p>
          <p class="data">{{userData?.nickname}}</p>
          <p class="data">{{userData?.email}}</p>
        </div>

        <div class="col-2 edit">
          <p>editar</p>
        </div>
      </card>

        <card class="row card-info">
          <p class="title-card">Informações pessoais</p>
          <div class="row g-3">
            <div class="col-6">
              <div class="mb-3">
                <app-details title="Nome" subtitle={{userData?.name}}></app-details>
              </div>
              <div class="mb-3">
                <app-details title="Email" subtitle={{userData?.email}}></app-details>
              </div>
            </div>

            <div class="col-6">
              <div class="mb-3">
                <app-details title="Apelido" subtitle={{userData?.nickname}}></app-details>
              </div>
              <div class="mb-3">
                <app-details title="Usuário" subtitle={{userData?.user}}></app-details>
              </div>
            </div>
          </div>
      </card>
  </div>

</div>
