<div class="content-container container">
  @if($isMobile()){
  <fab-slider [buttonList]="fabButtonList"></fab-slider>
  }
  <div class="row w-100">
    <div class="row pt-5 pb-5">
      <div class="title col-12 col-xl-10">
        Bem vindo(a) {{ $userData().nickname }}
      </div>
      <div class="col-12 col-xl-2">
        <app-button label="filtrar" class="dark"></app-button>
      </div>
    </div>
  </div>
  <div class="row w-100 content-row">
    <div class="row col-12 p-0">
      <div class="row">
        <div class="col-12 col-xl-6 finance-card-container">
          <financial-card
            title="Entradas Mensais"
            [value]="userEntriesBalance"
          ></financial-card>
        </div>
        <div class="col-12 col-xl-6 finance-card-container">
          <financial-card
            title="Saídas Mensais"
            [value]="userExitsBalance"
          ></financial-card>
        </div>
        <!-- <div class="col-12 col-xl-4 finance-card-container">
          <financial-card
            title="Economias Mensais"
            value="500"
          ></financial-card>
        </div> -->
      </div>
    </div>

    <div class="row col-12 monetary-info">
      <div class="container total-container">
        <div class="col-12 balance-card">
          <financial-card title="Saldo Total" [value]="userBalance" />
        </div>
        <div class="col-12 transactions-card">
          <card>
            <div class="transaction-container container">
              <div class="row transaction-title">
                <div class="col-12 col-md-10 title">Últimas Transações</div>
                @if(!$isMobile()){
                <div class="col-2">
                  <app-button
                    type="extended-fab"
                    icon="add_box"
                    label="Incluir"
                    tooltip="Incluir nova transação"
                    (click)="handleClickAddButton($event)"
                  ></app-button>
                </div>
                }
              </div>
              <div class="row transaction-items">
                @if(lastTransactions.length > 0){
                <transaction-agroupment
                  [transactions]="lastTransactions"
                ></transaction-agroupment>
                }@else {
                  <div class="empty-transaction">
                    <p>Não há transações no período atual</p>
                  </div>
                }
              </div>
            </div>
          </card>
        </div>
      </div>
    </div>
  </div>
</div>
