<div class="content-container container">
  <div class="row h-100 w-100">
    <div class="container col-12 col-md-7 h-100 p-0">
      <div class="row pt-5 pb-5">
        <div class="title col-10">Estatísticas Gerais</div>
        <div class="col-2"><app-button label="filtrar"></app-button></div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4">
          <financial-card
            title="Entradas Mensais"
            value="12.39"
          ></financial-card>
        </div>
        <div class="col-12 col-md-4">
          <financial-card
            title="Saídas Mensais"
            value="-12.39"
          ></financial-card>
        </div>
        <div class="col-12 col-md-4">
          <financial-card
            title="Economias Mensais"
            value="500"
          ></financial-card>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-5 h-100">
      <div class="container total-container">
        <div class="row"></div>
      </div>
    </div>
  </div>
</div>
