<div class="content-container container">
  <div class="row w-100 content-row">
    <div class="container col-12 col-xl-7 h-100 p-0">
      <div class="row pt-5 pb-5">
        <div class="title col-12 col-xl-10">Estatísticas Gerais</div>
        <div class="col-12 col-xl-2">
          <app-button label="filtrar"></app-button>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-xl-4 finance-card-container">
          <financial-card
            title="Entradas Mensais"
            value="12.39"
          ></financial-card>
        </div>
        <div class="col-12 col-xl-4 finance-card-container">
          <financial-card
            title="Saídas Mensais"
            value="-12.39"
          ></financial-card>
        </div>
        <div class="col-12 col-xl-4 finance-card-container">
          <financial-card
            title="Economias Mensais"
            value="500"
          ></financial-card>
        </div>
      </div>
      <div class="row pt-5">
        <div *ngIf="gridModel.entrie; else elseBlock">
          <div class="col-12 h-100">
            <data-grid [columns]="gridEntriesColumns" [data]="data"></data-grid>
          </div>
        </div>
        <ng-template #elseBlock>
          <div class="col-12 h-100">
            <data-grid [columns]="gridExitsColumns" [data]="data"></data-grid>
          </div>
        </ng-template>
        <div class="col-12 table-mode-container">
          <radio-container>
            <radio-button
              (click)="handleClickRadio($event)"
              tooltip="Entradas"
              checked="{{ gridModel.entrie }}"
              value="entrie"
            />
            <radio-button
              (click)="handleClickRadio($event)"
              tooltip="Saídas"
              checked="{{ gridModel.exit }}"
              value="exit"
            />
          </radio-container>
        </div>
      </div>
    </div>

    <div class="col-12 col-xl-5 h-100">
      <card>
        <div class="container total-container">
          <div class="col-12 balance-card">
            <financial-card title="Saldo Total" value="1500" />
          </div>
          <div class="col-12 transactions-card">
            <card>
              <div class="container p-0">
                <div class="row transaction-title">
                  <div class="col-12 title">Últimas Transações</div>
                </div>
                <div class="row">
                  <div *ngFor="let transaction of lastTransactions; index as i">
                    <transaction
                      value="{{ transaction?.value }}"
                      description="{{ transaction?.description }}"
                      type="{{ transaction?.type }}"
                      gender="{{ transaction?.gender }}"
                    />
                  </div>
                </div>
              </div>
            </card>
          </div>
        </div>
      </card>
    </div>
  </div>
</div>
