<div
  id="side-bar-container"
  tabindex="0"
  [class]="returnAppContainerClass()"
  (blur)="handleBlurSideBar()"
>
  <div class="logo-parent row">
    <div class="logo"></div>
  </div>
  <div class="navigation row">
    <ng-container *ngFor="let button of buttonList; index as i">
      <app-button
        type="basic"
        [label]="button.label"
        [class]="returnButtonClass(button.url)"
        [value]="button.url"
        tooltip="Ir para {{ button.label }}"
        (click)="handleClickNavBtn($event)"
      ></app-button>
    </ng-container>
  </div>
  <!-- <div class="actions col-2">
    <icon font-icon="logout" class="nav-button" tooltip="Sair" (click)="logout()"></icon>
  </div> -->
</div>
