<div
  id="side-bar-container"
  tabindex="0"
  [class]="returnAppContainerClass()"
  (blur)="handleBlurSideBar()"
>
  <div (click)="handleClickNavBtn($event, '/home')" class="logo-parent row">
    <div class="logo"></div>
  </div>
  <div class="navigation row">
    <ng-container *ngFor="let button of buttonList; index as i">
      <app-button
        type="basic"
        [label]="button.label"
        [class]="returnButtonClass(button.url)"
        [value]="button.url"
        [tooltip]="returnButtonTooltip(button.label, button.url)"
        (click)="handleClickNavBtn($event)"
      ></app-button>
    </ng-container>
  </div>
</div>
