<div [class]="returnAppContainerClass()">
  <div class="logo-parent row">
    <div class="logo"></div>
  </div>
  <div class="navigation row">
    <ng-container *ngFor="let button of buttonList; index as i">
      <app-button
        type="basic"
        [label]="button.label"
        [class]="returnButtonClass(button.url)"
        data-url="/home"
        tooltip="Ir para {{ button.label }}"
      ></app-button>
    </ng-container>
  </div>
  <!-- <div class="actions col-2">
    <icon font-icon="logout" class="nav-button" tooltip="Sair" (click)="logout()"></icon>
  </div> -->
</div>
