// Color variables
$white: #ffffff;
$green: #248331;
$red: #be2d2d;

// Border variables
$border-color: #00000030;
$border-color-dark: #ffffff10;

// Background variables
$background-color: #151536;

// Font variables
$font-family: "Rubik", sans-serif;
$font-color: $white;
