@import "../../../styles/variables";

.card {
  padding: 2rem;
  background: linear-gradient($background-color 55%, #52527040);
  border-color: $border-color-dark;
}

.title {
  color: $font-color;
  padding-bottom: 2rem;
  font-family: $font-family;
  font-size: 15px;
}

.value-container {
  display: flex;
  color: $font-color;
  font-family: $font-family;
  width: 100%;
}

.value {
  width: 80%;
  font-size: 32px;
}

.positive-icon {
  color: $green;
}

.negative-icon {
  color: $red;
}
