@import "../../../../styles/variables";

.card {
  padding: 2rem;
  background: linear-gradient($background-color 55%, #52527040);
  border-color: $border-color-dark;
}

.title {
  color: $font-color;
  padding-bottom: 2rem;
  font-family: $font-family;
  @media (min-width: 1351px) {
    font-size: 15px;
  }
  @media (max-width: 1350px) {
    font-size: 12px;
  }
}

.value-container {
  display: flex;
  color: $font-color;
  font-family: $font-family;
  width: 100%;
}

.value {
  width: 80%;
  @media (min-width: 1420px) {
    font-size: 28px;
  }
  @media (max-width: 1419px) {
    font-size: 18px;
  }
}

.positive-icon {
  color: $green;
}

.negative-icon {
  color: $red;
}
