<div class="col-12 transaction-container">
  <div class="t-row icon-container">
    <icon
      class="icon"
      [ngClass]="returnTrasactionClass(value, gender)"
      font-icon="{{ returnTransactionIcon(gender) }}"
    ></icon>
    @if(date){
    <!-- <p class="transaction-hour">{{ date }}</p> -->
    }
  </div>
  <div class="t-row description">
    <p class="description-text" matTooltip="{{ description }}">
      {{ description }}
    </p>
  </div>
  <div class="t-row value" [ngClass]="returnTrasactionClass(value, gender)">
    <p matTooltip="{{ returnFormattedValue(value) }}">
      {{ returnFormattedValue(value) }}
    </p>
  </div>
</div>
