<ng-container *ngIf="buttonType === 'flat'">
  <button
    type="{{ btnType }}"
    mat-flat-button
    matTooltip="{{ tooltip }}"
    class="{{ class }}"
    [disabled]="disabled"
  >
    {{ buttonLabel }}
  </button>
</ng-container>
<ng-container *ngIf="buttonType === 'basic'">
  <button
    type="{{ btnType }}"
    mat-button
    matTooltip="{{ tooltip }}"
    [matTooltipPosition]="tooltipPosition"
    class="{{ class }}"
    [disabled]="disabled"
  >
    {{ buttonLabel }}
  </button>
</ng-container>
<ng-container *ngIf="buttonType === 'icon'">
  <button
    type="{{ btnType }}"
    mat-icon-button
    matTooltip="{{ tooltip }}"
    class="{{ class }}"
    disabled="{{ disabled }}"
  >
    <mat-icon>{{ icon }}</mat-icon>
  </button>
</ng-container>
<ng-container *ngIf="buttonType === 'fab'">
  <button
    type="{{ btnType }}"
    mat-fab
    matTooltip="{{ tooltip }}"
    class="{{ class }}"
    [disabled]="disabled"
  >
    <mat-icon>{{ icon }}</mat-icon>
  </button>
</ng-container>
